/* 
    Created on : Mar 11, 2014, 4:00:08 PM
    Author     :  scweber (Scott Weber)
*/
.form-table th { width: 15%; }
.form-table td { margin: 9px; padding: 2px 15px; text-align: left; }
.form-table td.ms-blog-path { width: 2%; }
.form-table td.ms-blog-create-new-user { width: 1%; }
.form-table td.ss-blog-path { width: 2%; }
.form-table td.ss-blog-create-new-user { width: 8%; }